body {
    margin: 0;
}

@font-face {
    font-family: CursedTimerUlil-Aznm;
    src: url(fonts/CursedTimerUlil-Aznm.ttf)
}

.container {
    display: flex;
    justify-content: space-around;
    width: 575px;
    height: 385px;
    background: #1B244A;
    color: white;
}

#homeT {
     width: 149px;
    height: 36px;
    left: 85px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;

}

#guestT {
    width: 149px;
    height: 36px;
    left: 340px;
    top: 68px;

    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;
}

#count-el {
    width: 155px;
    height: 120px;
    left: 82px;
    margin-top: 21px;

    background: #080001;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
}

#count-dos {
    width: 155px;
    height: 120px;
    left: 337px;
    margin-top: 21px;

    background: #080001;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */

    text-align: center;

    color: #F94F6D;
    
}

#oneButt {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 65px;
    top: 271px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;
}

#twoButt {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 120px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;
}

#threeButt {
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 175px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;
}

#oneGuest {
     box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 355px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;    
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;    
}

#twoGuest{
    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 410px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;
}

#threeGuest {
     box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 45px;
    left: 465px;
    top: 271px;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    font-family: 'CursedTimerUlil-Aznm';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */

    text-align: center;

    color: #9AABD8;
    background-color: transparent;
}